.App {
  text-align: center; 
  font-style: white;
  background-image:url(/2.jpg);
}

.wallpaperdefault{
background-image: url(1.jpg) ;
background-size: cover;
 background-position: center center;
 position: relative;
 top: 0;
 bottom: 0;
 background-attachment: fixed;
 height: 1980px;
}